extends layout

block vars
    - let title = 'about'

block content
    include lib/head
    include lib/banner

    .about
        .about-top
            .container
                .about-info
                    h3 About
                .about-info-bottom
                    img(src='/public/images/9.jpg', alt='')
                    .about-info-text
                        h5
                            | 以提供方便快捷的全球地接旅游产品、度假产品而闻名，我们致力于为实体旅游供应商提供杰出的在线交易平台。
                            | 为顾客提供简单便捷的在线订购服务。
                        p
                            | xxx旅游网,成立于2008年1月，属于IvyMedia Corporation旗下针对华人市场的在线旅游品牌。IvyMedia Corporation是由Dr. Xiangping Chen于2000年6月投资创办，总部设在美国波士顿。公司早年创立的品牌GotoBus，致力于打造美国国内杰出的在线旅游服务售票交易平台，以方便众多合作伙伴利用此平台出售旅游产品和提供旅游服务，如巴士短途周边游、长线游、演出票、酒店预订等，并为顾客更好的出行提供多种选择。今天，GotoBus已凭借其优惠的价格、便捷的在线订票系统，占领了美国国内巴士旅游交易市场的领先位置。
                        p
                            | 2008年1月，IvyMedia Corporation正式进军中国市场，推出了"xxx旅游网"，除了为走出国门的华人量身定做了贴心周到的境外游线路外，还将美国企业的行业优势带入中国，以进一步拓展国内旅游市场，让中国游客只需点点鼠标，就能轻松搞定出行！2011年3月1日，xxx旅游网正式更名为"xxx旅游网"，旗下还有专门面向中国国内用户的“自己去旅游网”

        .about-team
            .container
                h4 Our People
                .team-grids
                    .col-md-3.col-xs-12.team-grid
                        img(src='/public/images/t1.jpg', alt='')
                        h6 Jain Smith
                        p
                            | 但找一个好导游，不如找一个女导游，在青山绿水之中，还有一位红颜知已开伴，那种感觉何其美妙呀！
                    .col-md-3.col-xs-12.team-grid
                        img(src='/public/images/t2.jpg', alt='')
                        h6 shan carter
                        p
                            | 但找一个好导游，不如找一个女导游，在青山绿水之中，还有一位红颜知已开伴，那种感觉何其美妙呀！
                    .col-md-3.col-xs-12.team-grid
                        img(src='/public/images/t3.jpg', alt='')
                        h6 Jack dany
                        p
                            | 但找一个女导游，不如找一个男导游，男导游身强力壮，不但能给您导游，而且还是半个保镖，碰到紧急情况，咱背起来就走人了。
                    .col-md-3.col-xs-12.team-grid
                        img(src='/public/images/t4.jpg', alt='')
                        h6 Mary Jain
                        p
                            | 但找一个女导游，不如找一个男导游，男导游身强力壮，不但能给您导游，而且还是半个保镖，碰到紧急情况，咱背起来就走人了。
                    .clearfix  
        .guarantee

            .container
                h4 Your Guarantees
                .guarantee-grids
                    .guarantee-grids-top
                        .col-md-6.guarantee-grid
                            .guarantee-grid-left
                                p 1.
                            .guarantee-grid-right
                                h6
                                    | 最优质的导游，最细致的服务，带你去看最美丽的风景
                                p
                                    |  公司拥有一支训练有素、经验丰富的业务队伍以及高素质、多语种的导游、领队队伍，包括获得“全国优秀导游”、“全国文明导游”、“广西十佳导游”称号的金牌导游，能为客户提供专业化、个性化、多样化的服务。
                            .clearfix  
                        .col-md-6.guarantee-grid
                            .guarantee-grid-left
                                p 2.
                            .guarantee-grid-right
                                h6
                                    | 最优质的导游，最细致的服务，带你去看最美丽的风景
                                p
                                    |  公司拥有一支训练有素、经验丰富的业务队伍以及高素质、多语种的导游、领队队伍，包括获得“全国优秀导游”、“全国文明导游”、“广西十佳导游”称号的金牌导游，能为客户提供专业化、个性化、多样化的服务。
                            .clearfix  
                        .clearfix  
                    .guarantee-grids-top
                        .col-md-6.guarantee-grid
                            .guarantee-grid-left
                                p 3.
                            .guarantee-grid-right
                                h6
                                    | 最优质的导游，最细致的服务，带你去看最美丽的风景
                                p
                                    |  公司拥有一支训练有素、经验丰富的业务队伍以及高素质、多语种的导游、领队队伍，包括获得“全国优秀导游”、“全国文明导游”、“广西十佳导游”称号的金牌导游，能为客户提供专业化、个性化、多样化的服务。
                            .clearfix  
                        .col-md-6.guarantee-grid
                            .guarantee-grid-left
                                p 4.
                            .guarantee-grid-right
                                h6
                                    | 最优质的导游，最细致的服务，带你去看最美丽的风景
                                p
                                    |  公司拥有一支训练有素、经验丰富的业务队伍以及高素质、多语种的导游、领队队伍，包括获得“全国优秀导游”、“全国文明导游”、“广西十佳导游”称号的金牌导游，能为客户提供专业化、个性化、多样化的服务。
                            .clearfix  
                        .clearfix  

    include lib/footer

block script
    script.

