
#news.news
    .container
        .news-info
            h3 新闻 & 事件
            p
                | 这是一种很好的方法，它可以让你的生活变得更轻松，更能让你的生活变得更轻松，更能让你的生活变得更轻松。
        .news-grids
            .col-md-4.news-grid
                .date
                    h5 28
                    p June
                .date-bottom
                    p
                        | 自己不能胜任的事情，切莫轻易答应别人，一旦答应了别人，就必须实践自己的诺言。
            .col-md-4.news-grid
                .date
                    h5 14
                    p June
                .date-bottom
                    p
                        | 时间会刺破青春表面的彩饰，会在美人的额上掘深沟浅槽；会吃掉稀世之珍！天生丽质，什么都逃不过他那横扫的镰刀
            .col-md-4.news-grid
                .date
                    h5 07
                    p June
                .date-bottom
                    p
                        | 如果我们想交朋友，就要先为别人做些事——那些需要花时间、体力、体贴、奉献才能做到的事。
            .clearfix  
